<ion-header>
  <ion-navbar>
    <ion-title>{{'Notifications' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-divider></ion-item-divider>
  <ion-list class="settings-list">
    <div *ngIf="usePushNotifications">
      <ion-item>
        <ion-label>{{ 'Enable push notifications' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="pushNotifications" (ionChange)="pushNotificationsChange()"></ion-toggle>
      </ion-item>
    </div>

    <ion-item-divider *ngIf="!usePushNotifications && isIOSApp">
      <span translate>
        Push notifications for {{appName}} are currently disabled. Enable them in the Settings app.
      </span>
    </ion-item-divider>

    <div *ngIf="usePushNotifications && pushNotifications">
      <ion-item>
        <ion-label>{{ 'Notify me when transactions are confirmed' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="confirmedTxsNotifications" (ionChange)="confirmedTxsNotificationsChange()"></ion-toggle>
      </ion-item>
    </div>

  </ion-list>

</ion-content>
